<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <script>document.write(new Date().getFullYear())</script> © Developped by <b>MBD1236</b>
            </div>
        </div>
    </div>
</footer>